---
import Layout from '../components/Layout.astro';
---

<Layout title="Imprint" activePage="imprint">
  <article class="prose">
    <h1>Imprint</h1>

    <h2>devguard GmbH</h2>
    <p>
      Im Lindenhof 24<br />
      10365 Berlin
    </p>
    <p>
      Amtsgericht Charlottenburg (Berlin) HRB 195184 B<br />
      MD: Arvid E. Picciani
    </p>

    <h2>Contact</h2>
    <p>email: arvid at devguard dot io</p>

    <h2>Legal</h2>
    <ul>
      <li>This website collects no data about you.</li>
      <li>Clicking links will lead you to third party websites beyond my control.</li>
    </ul>
  </article>
</Layout>
